.gallery_container {
  padding: 3em 0 !important;
}

video {
  display: block;
  width: 100%;
}

.video_gallery {
  display: flex;

  justify-content: space-between;

  width: 90%;
  margin: 0 auto !important;
  max-width: 1080px !important;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .video_gallery {
    display: block;
  }
}

.video {
  flex: 0.6;
}

.video_list {
  flex: 0.4;
  background-color: rgba(227, 212, 212, 0.46);
  padding: 1em !important;
}

.video_list .video_item {
  display: block;
  width: 100%;
  background-color: #fff;
  color: #5f2c82;
  margin: 0.5em 0 !important;
  padding: 1em !important;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px !important;
}
