<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ORMAS :: Odisha Rural Development And Marketing Society</title>


    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- //icons cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- //cdn file ? -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 480px) {
            .mobileresponsive {
                overflow: hidden;
                overflow-x: scroll;
            }

        }

        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            .mobileresponsive {
                overflow: hidden;
                overflow-x: scroll;
            }
        }
    </style>
</head>

<body style="background-image: url(./images/swaa.jpg);">
    <div class="sticky-position"
        style="position: -webkit-sticky; position: sticky; top: 0; background-color: #c4ffdb;  z-index: 997; padding-top: 26px;">
        <span id="header">

            <div style="
          margin-bottom: 0px !important ;
          display: flex;
          justify-content: space-between;
        ">


                <div class="scroll-container" style="background-color: #5a5353d9; padding-top: 0;margin-top: 0; z-index: 111;width: 100% ;height: 30px;padding-top:7px;
      position:absolute;
      top: 0px;
      display:flex;
      justify-content:space-around;
      flex-direction:row;
      ">

                    <span class="mobile-responsive"
                        style="height:100%; border-right:#8e8e8ed9; text-align:right center; font-family:'Lato' sans-serif;display:flex; text-weight:680;font-size:12px;text-transform:capitalize;">
                        <font style="border-right:1px solid white; padding-right:10px">Goverment of Odisha</font>
                        <font style="padding-left:10px;"> ଓଡ଼ିଶା ସରକାର</font>
                    </span>
                    <span class=" mobile-none">
                        <span
                            style="height:100%;  text-align:right center; font-family:'Lato', sans-serif;display:flex; text-weight:680;font-size:12px;text-transform:capitalize;left:0">
                        </span>
                        <span
                            style="height:100%; text-align:right center; font-family:'Lato', sans-serif;display:flex; text-weight:680;font-size:12px;text-transform:capitalize;text-align:right text-align:right">
                            <a class="yellow-text " style="margin-right:37px " href="">RTI | Feedback | Annual
                                Report</a>
                            <font style="margin-left:30px">ଓଡ଼ିଆ</font>
                            <span class="" style="margin-left:30px">
                                <!-- Add font awesome icons -->
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-google"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-youtube"></a>
                            </span>
                        </span>

                    </span>
                </div>
                <a href="#">
                    <img src="../../images/odisha-logo.png" alt="" style="padding-top:7%" height="100px"
                        width="152px" />
                </a>
                <div style="
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top:2px; 
            align-items: center;
          ">
                    <a href="#">
                        <img src="../../images/newormaslogo1.png" alt="" class="mobile-none"
                            style="height:84px;margin-top:2px;" /> </a>
                    <marquee behavior="" class="mobile-none" direction=""
                        style="color: black; font-family:Brush Script MT; font-size:19px; margin-top: -13px;"> Creating
                        Competence and Values in Rural Odisha
                    </marquee>
                </div>
                <div class="cm headercm" style="display: flex;">
                    <div class="cmText" style="white-space: nowrap;">
                        <h6 style="margin: 0; padding-top:30%;"><strong style=" font-weight: bold;"
                                class="mobile-text">Shri Naveen
                                Patnaik</strong></h6>
                        <p style="margin:0;padding : 0;">Hon'ble Chief Minister</p>
                    </div>
                    <img style="margin-top: -25px;margin-bottom: 0;width: 110px; height:126px;bottom:0;"
                        src="../../images/cm_on_nav.png" alt="" class="brand-logo right" />
                </div>
                <!-- <div style="height: 3px">&nbsp;</div> -->
            </div>

            <ul id="dropdown1" class="dropdown-content" style="padding-top: 40px;">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
            <ul id="aboutUsDrop" class="dropdown-content" style="color: #009d00;">
                <li><a href="#!"></a></li>
                <li><a href="/Pages/Organisation.html">Organisation</a></li>
                <li><a href="/Pages/MissionandVision.html">Mission and Vision</a></li>
                <li><a href="/Pages/ContactDetailsHQDist.html">Official Contact Details</a></li>
                <li><a href="/Pages/Organogram.html">Organogram</a></li>
            </ul>
            <ul id="exhibitionDrop" class="dropdown-content" style="padding-top: 40px;">
                <li><a href="/Pages/Exhibition/ExhibitionCalender.html">Exhibition Calender</a></li>
                <li><a href="/Pages/Exhibition/Reports.html">Reports </a></li>
                <li><a href="/Pages/Exhibition/SisirSaras2020.html">SISIR SARAS 2020</a></li>
              </ul>
            <ul id="dduGkyDrop" class="dropdown-content" style="padding-top: 40px;">
                <li><a href="/Pages/DDU-GKY/DDU-GKYTrainingSectors.html">DDU-GKY-Training-Sectors</a></li>
                <li><a href="/Pages/DDU-GKY/PhysicalMilestone.HTML">DDU-GKY-Physical Milestone</a></li>
                <li><a href="/Pages/DDU-GKY/DDU-GKY-TrainingTrades.html">DDU-GKY-Training-Trades</a></li>
            </ul>
            <ul id="productsDrop" class="dropdown-content" style="padding-top: 40px;">
                <li><a href="/Pages/Products/Product.html">Products</a></li>
                <li><a href="/Pages/Products/ProductsBrochure.html">Products Brochure</a></li>
                <li><a href="/Pages/Products/BalasoreProductCatlog.html">Balasore Product Catlog</a></li>
                <li><a href="/Pages/Products/Product-MayurbhanjSabai.html">Product Catlog Mayurbhanj</a></li>

            </ul>

        </span>
        <nav class="" role="navigation"
            style="display: flex; padding-left: 25%; background-color: #009d00; margin-top:-4px; height:43px">
            <div class="nav-wrapper container" style="margin: 0px">
                <ul class="center hide-on-med-and-down">
                    <li class="tab white-text"
                        style="border-left: 1px solid #14520b; padding-left:2px;padding-right:2px;height:43px;">
                        <a href="/" class="white-text">Home</a>
                    </li>
                    <li style="border-left: 1px solid #14520b;;height:43px;">
                        <a class="dropdown-trigger white-text" href="#!" data-target="aboutUsDrop">About Us<i
                                class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    <li style="border-left: 1px solid #14520b;;height:43px;">
                        <a class="dropdown-trigger white-text" href="#!" data-target="dduGkyDrop">DDU-GKY<i
                                class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    <li class="tab white-text" style="border-left: 1px solid #14520b;;height:43px;">
                        <a href="/Pages/Activities/Activities.html" class="white-text">Activities</a>
                    </li>
                    <li style="border-left: 1px solid #14520b;;height:43px;">
                        <a class="dropdown-trigger white-text" href="#!" data-target="productsDrop">Products<i
                                class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    <li style="border-left: 1px solid #14520b;;height:43px;">
                        <a class="dropdown-trigger white-text" href="#!" data-target="exhibitionDrop">Exhibition<i
                                class="material-icons right">arrow_drop_down</i></a>
                    </li>
                    <li style="border-left: 1px solid #14520b;border-right: 1px solid #14520b;;height:43px;"
                        class="tab white-text">
                        <a href="/Pages/Tender/Tender.html" class="white-text">Tender</a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="sidenav" style="transform: translateX(-105%)">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">DDU-GKY</a></li>
                    <li><a href="/Pages/Activities/Activities.html">Activities</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="/Pages/Exhibition/ExhibitionCalender.html">Exhibition</a></li>
                    <li><a href="#">Tender</a></li>

                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons"
                        style="color: #ffffff; margin-left: -100px; margin-top: -5px;">menu</i></a>
            </div>
        </nav>

    </div>

    <div id="index-banner">
    </div>
    <div class="container">
        <h3>Journey so far...</h3>
        <h2 class="bold text-danger">Journey So far……</h2>
        <p>ORMAS has been organizing exhibitions for last 26 years in most of the cities of Odisha under the banner
            of<span class="fw-bold fst-italic">“Pallishree Mela”</span> ‘ Pallishree' which literally means 'wealth of
            villages' provides an opportunity to rural poor to sell their products directly in major urban centers &
            interact with the urban buyers which helps in studying and comprehending the latter's tastes/preferences.
            Thus it helps them to upgrade & develop their products, customer handling skills and meet the need of urban
            consumers thereby enlarging their customer base. It has almost become a trend in Orissa that during
            important local festivals ORMAS Exhibition is a compulsory part of the festivities for which both producers
            & buyers are eagerly waiting.</p>
    </div>

    <div class="container text-center mobileresponsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="text-center">
                    <th scope="col">SL. No.</th>
                    <th scope="col">Year </th>
                    <th scope="col">No. of exhibitions organised</th>
                    <th scope="col">No. of SHGs / Institutions participated</th>
                    <th scope="col">No. of participants</th>
                    <th scope="col">Total sales
                        (Rs. in lakhs)</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>2003-04</td>

                        <td>6</td>
                        
                        <td>1060</td>
                        
                        <td>2642</td>
                        
                        <td>150.39</td>
                   

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>2004-05</td>

                        <td>10</td>
                        
                        <td>1144</td>
                        
                        <td>2765</td>
                        
                        <td>252.45</td>
                  

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>2006-07</td>

                        <td>20</td>
                        
                        <td>3310</td>
                        
                        <td>6078</td>
                        
                        <td>1206.34</td>
                   

                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>2006-07</td>

                        <td>20</td>
                        
                        <td>3310</td>
                        
                        <td>6078</td>
                        
                        <td>1206.34</td>
                    

                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>2006-07</td>

                    <td>20</td>
                    
                    <td>3310</td>
                    
                    <td>6078</td>
                    
                    <td>1206.34</td>
                  

                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>2006-07</td>

                        <td>20</td>
                        
                        <td>3310</td>
                        
                        <td>6078</td>
                        
                        <td>1206.34</td>
                   

                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>2006-07</td>

                        <td>20</td>
                        
                        <td>3310</td>
                        
                        <td>6078</td>
                        
                        <td>1206.34</td>

                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>2006-07</td>

                        <td>20</td>
                        
                        <td>3310</td>
                        
                        <td>6078</td>
                        
                        <td>1206.34</td>

                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>2006-07</td>

                    <td>20</td>
                    
                    <td>3310</td>
                    
                    <td>6078</td>
                    
                    <td>1206.34</td>

                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>2006-07</td>

                        <td>20</td>
                        
                        <td>3310</td>
                        
                        <td>6078</td>
                        
                        <td>1206.34</td>

                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>2006-07</td>

                        <td>20</td>
                        
                        <td>3310</td>
                        
                        <td>6078</td>
                        
                        <td>1206.34</td>

                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>2006-07</td>

                        <td>20</td>
                        
                        <td>3310</td>
                        
                        <td>6078</td>
                        
                        <td>1206.34</td>

                </tr>
                <tr>
                    <th colspan="2" scope="row">TOTAL</th>
                    
                        <th>389</th>
                        <th>62873</th>
                        <th>121770</th>
                        <th>53149.38</th>

                </tr>
            </tbody>
        </table>
    </div>







    <footer class="page-footer"
        style="display: flex;justify-content: space-between; flex-direction:row;display: flex;padding-top: 0px;">
        <!-- <p style="margin-top: 0">Home | FAQ | Site Map | Contact Us</p>
      <p style="margin-bottom: 0">
        Copyright © 2023 ORMAS, All right reserved.
      </p> -->
        <div>
            <span style="padding-left:30px; padding-top: 10px;">Home | FAQ | Site Map | Contact Us</span>
            <span style="margin-top: 10px;padding-left:30px; text-align:left;">Copyright &copy; 2023 ORMAS, All right
                reserved.
            </span>
        </div>
        <div class="mobile-none" style="padding: 4px; justify-content: center; align-items: center;">
            <a rel="license" style=" margin-left: 270px;" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons Licence" style="border-width:0"
                    src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
            </a><br />This work is
            licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
                Attribution
                4.0 International License</a>.

        </div>
        <!-- <div class="social-media mobile-none">
      <ul>
        <li><a href="https://www.facebook.com/ormassml/"><i class="fab fa-facebook" aria-hidden="true"><img
                src="./images/facebook.png" height="38px"></i></a></li>
        <li><a href="https://twitter.com/ormas_odisha/"><i class="fab fa-twitter" aria-hidden="true"><img
                src="./images/twitter.png" height="38px"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"><img src="./images/youtube.png"
                height="35px"> </i></a></li>
        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"><img src="./images/instagram.png"
                height="30px"></i></a></li>
      </ul>
    </div> -->

        <div>
            <span style=" text-align:right; padding: 1px;">Powered By <a href="https://ijentech.com/"
                    style="text-decoration: none;" target="_blank"><img src="../../images/ijentech.png"
                        height="45px"></a>
            </span>
        </div>
    </footer>
    <div class="" id="GFG_DIV">
        <!-- <a class="btn-floating btn-large green darken-4">
     <i class="large material-icons">share</i>
    </a>
    <ul>
     <li><a class="waves-effect waves-light"> <img src="./images/facebook.png" height="38px">  </a></li>

     <li><a class="waves-effect waves-light "> <img src="./images/instagram.png" height="35px"> </a></li>
     <li><a class="waves-effect waves-light"> <img src="./images/youtube.png" height="35px"> </a></li>
       <li><a class="waves-effect waves-light"> <img src="./images/twitter.png" height="38px"> </a></li>

    </ul> -->
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../js/materialize.js"></script>
    <script src="../../js/init.js"></script>
    <script type="text/javascript">
        socialposition();
        function socialposition() {
            var x = 210;
            var y = 50;
            var el = document.getElementById('GFG_DIV');
            el.style.position = "fixed";
            el.style.bottom = x + 'px';
            el.style.right = y + 'px';
            document.getElementById('index-banner').height = "700px";

        }
        startImageTransition();

        function startImageTransition() {
            // images stores list of all images of
            // class test. This is the list of images
            // that we are going to iterate
            var images = document.getElementsByClassName("aqes");

            // Set opacity of all images to 1
            for (var i = 0; i < images.length; ++i) {
                images[i].style.opacity = 1;
            }

            // Top stores the z-index of top most image
            var top = 1;

            // cur stores the index of the image currently
            // on top images list contain images in the
            // same order they appear in HTML code
            /* The tag with class test which appears last
               will appear on top of all the images thus,
               cur is set to last index of images list*/
            var cur = images.length - 1;

            // Call changeImage function every 3 second
            // changeImage function changes the image
            setInterval(changeImage, 3000);

            // Function to transitions from one image to other
            async function changeImage() {

                // Stores index of next image
                var nextImage = (1 + cur) % images.length;

                // First set the z-index of current image to top+1
                // then set the z-index of nextImage to top
                /* Doing this make sure that the image below
                   the current image is nextImage*/
                // if this is not done then during transition
                // we might see some other image appearing
                // when we change opacity of the current image
                // images[cur].style.zIndex = top + 1;
                images[nextImage].style.zIndex = top;


                await transition();


                // Set the z-index of current image to top
                // images[cur].style.zIndex = top;

                // // Set the z-index of nextImage to top+1
                // images[nextImage].style.zIndex = top + 1;

                // Increment top
                top = top + 1;

                // Change opacity of current image back to 1
                // since zIndex of current is less than zIndex
                // of nextImage
                /* changing it's opacity back to 1 will not
                   make the image appear again*/
                images[cur].style.opacity = 1;

                // Set cur to nextImage
                cur = nextImage;
            }

            /* This function changes the opacity of
            current image at regular intervals*/
            function transition() {
                return new Promise(function (resolve, reject) {

                    // del is the value by which opacity is
                    // decreased every interval
                    var del = 0.01;

                    // id stores ID of setInterval
                    // this ID will be used later
                    // to clear/stop setInterval
                    // after we are done changing opacity
                    var id = setInterval(changeOpacity, 10);

                    // changeOpacity() decreasing opacity of
                    // current image by del
                    // when opacity reaches to 0, we stops/clears
                    // the setInterval and resolve the function
                    function changeOpacity() {
                        images[cur].style.opacity -= del;
                        if (images[cur].style.opacity <= 0) {
                            clearInterval(id);
                            resolve();
                        }
                    }
                })
            }
        }


        M.AutoInit();
        $('.fixed-action-btn').floatingActionButton();
        $('.dropdown-trigger').dropdown();

        $('.fixed-action-btn').floatingActionButton();
        $('.dropdown-trigger').dropdown();
        AOS.init();
    </script>

    <script>
        // When the user scrolls down 50px from the top of the document, resize the header's font size
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop >= 500 || document.documentElement.scrollTop >= 500) {
                document.getElementById("header").style.display = "none";
            } else if (document.body.scrollTop <= 1000 || document.documentElement.scrollTop <= 4000) {
                document.getElementById("header").style.display = "inherit";
            }
        }
    </script>
</body>

</html>