.slider {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden !important;
    transition: transform 1s ease;
    z-index: -1;
  }
  
  .slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover !important;
    overflow: hidden;
  }
  
  .slider.zoom-in {
    transform: scale(1.3);
  }
  
  .slider.zoom-out {
    transform: scale(1.15);
    overflow: hidden !important;

  }
  
  .dots {
    /* position: absolute; */
    /* bottom: 20px;
    left: 50%; */
    transform: translateX(-50%);
  }
  
  .dots span {
    display: inline-block;
    width: 10px;
    /* height: 10px; */
    border-radius: 50%;
    background-color: gray;
    /* margin: 0 5px; */
    cursor: pointer;
  }
  
  .dots span.active {
    background-color: white;
  }
  

  @media (max-width: 768px) {
    .slider {
      height: 300px;
    }
    .slider.zoom-in {
        transform: scale(1.3);
      }
      
      .slider.zoom-out {
        transform: scale(1.28);
      }
  }
  
  @media (max-width: 480px) {
    .slider {
      height: 200px;
    }
  
    .dots {
      bottom: 10px;
    }
  
    .dots span {
      width: 6px;
      height: 6px;
    }
  }
  