

.input-form-email-send{
    background: #C7C7C7 !important;
    /* box-shadow: 0px 0px 9px 24px rgba(54, 52, 52, 0.14) !important; */
    border-radius: 10px !important;
    padding: 1rem !important;
    margin-top: 1rem !important;
}


.input-email-send{
    margin-top: 1rem !important;
    border-radius: 10px !important;
    padding-left: .25rem !important;
}

.fielddata{
    padding-right: .5rem !important;
}