.gallery_container {
  padding: 3em 0 !important;
  background: linear-gradient(to bottom, #5f2c82, #49a09d) !important;
}

.gallery {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-gap: 24px;
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 560px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

.gallery_card {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 8px;
  /* transition: transform 1000ms ease-in; */
}

.gallery_card:hover img {
  transform: scale(1.12);
}

.gallery_card img {
  object-fit: cover;
  display: block;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  transition: transform 300ms ease-in;
}



/* //css button style */
.modalcontainer{
  position: relative;
  /* justify-content: center; */
  height: 80vh;
  right: 0;
  left: 0;
  top: 30px !important;
  bottom: 0;
}
.modal-content {
  position: relative;
}

.close-btn, .auto-btn  {
  position: absolute;
  top: 0;
}


 .prev-btn, .next-btn  {
  position: absolute;
  top: 50%;
}

.close-btn {
  right: 0;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}


.auto-btn{
  left: 0;
}